<h1>Choose default article</h1>
<%= form_for(@default_article) do |f| %>
	<% @articles.each do |article| %>
		<div class="field">
			<%= f.radio_button :record_id, article.id, 
			:checked => (@default_article.record_id == article.id)  %>
			<%= label_tag( ("record_id" + article.id.to_s).to_sym , article.title)%>
		</div>
	<%end%>

	<div class="actions">
    	<%= f.submit %>
  	</div>
<%end%>